{% extends "base.html" %}
{% block title %}Sign up (New user){% endblock %}
{% block content %}
<main class="main-content">
    <div class="container mt-4">
        <form class="container mt-4" action="/edituser" method="post" id="theForm">        
            <input type="hidden" name="access_token" id="access_token" value="{{ access_token }}">
            <input type="hidden" name="session_id" id="session_id" value="{{ session_id }}">
            <input type="hidden" name="user_id" id="user_id" value="{{ user_id }}">
            <input type="hidden" name="user_ops_map" id="user_ops_map" value="">
            <h2 class="text-primary">Edit User</h2>           
            <br/><br/>
            <!-- Filter Section -->
            <div style="font-size:14px;font-family:verdana;color:#e0391f;text-align:left">
                <!-- Display error message if present -->
                {% if error_message %}
                    Error: {{ error_message }}
                {% endif %}                
            </div>
            {% if user_id %}
            <div style="font-size:14px;font-family:verdana;color:#15e05cfb;text-align:left">
            <!-- Display success message if present -->
                {% if success_message %}
                    {{ success_message }}
                {% endif %}
            </div>
            <div class="filter-section my-4 d-flex justify-content-center align-items-center gap-3" style="font-size:14px;font-family:verdana;color:#1f56e0;text-align:left">            
                <div style="font-size:14px;font-family:verdana;color:#1f56e0;text-align:left">Role:
                    <select name="role" id="role" class="form-select form-select-sm">
                        <!--<option value="" disabled selected>Select Service</option>-->
                        {% if user_data['role'] == 'admin' %}
                        <option value="admin" selected>Administrator</option>
                        {% else %}
                        <option value="admin">Administrator</option>
                        {% endif %}
                        {% if user_data['role'] == 'user' %}
                        <option value="user" selected>General</option>
                        {% else %}
                        <option value="user">General</option>
                        {% endif %}                        
                        <!--
                        <option value="audit">Data Audit</option>
                        <option value="report">Report Generation</option>-->
                    </select>
                </div>
                <br/><br/>
                <!-- Table Section -->
                <table id="signupTable" style="font-size: 0.85rem; width:80%">
                    <tbody class="table-primary">
                        <tr>
                            <th>User Id/Email : </th>
                            <td style="vertical-align: top; text-align: left;">
                                <input type="text" name="email" id="email" value="{{ user_id }}" disabled style="font-weight: 600; color:#1f56e0">
                            </td>
                        </tr>
                        <tr>
                            <th>First Name : </th><td style="vertical-align: top; text-align: left;"><input type="text" name="fname" id="fname" value="{{ user_data['fname'] }}"></td>
                        </tr>
                        <tr>
                            <th>Last Name : </th><td style="vertical-align: top; text-align: left;"><input type="text" name="lname" id="lname" value="{{ user_data['lname'] }}"></td>
                        </tr>
                        <tr>
                            <th>Password : </th><td style="vertical-align: top; text-align: left;"><input type="password" name="hashed_password" id="hashed_password" value=""></td>
                        </tr>
                        <tr>
                            <th>Confirm Password : </th><td style="vertical-align: top; text-align: left;"><input type="password" name="confirm_hashed_password" id="confirm_hashed_password" value=""></td>
                        </tr>
                        <tr>
                            <th>Assign Operation domains for Assessment</th><td style="vertical-align: top; text-align: left;"></td>
                        </tr>
                        <tr>
                            <th style="vertical-align: center;">
                                <table style="width: 30.0em"><tr><td>
                                <select id="select1" size="10" style="width: 25.0em">
                                    {% if "OP_TM" not in user_ops_list %}
                                    <option value="OP_TM">Network Planning and Topology Management</option>
                                    {% endif %}
                                    {% if "OP_NOC" not in user_ops_list %}
                                    <option value="OP_NOC">Network Operations Center</option>
                                    {% endif %}
                                    {% if "OP_NA" not  in user_ops_list %}
                                    <option value="OP_NA">Service Operations Center</option>
                                    {% endif %}
                                    {% if "OP_FO" not in user_ops_list %}
                                    <option value="OP_FO">Field Operations</option>
                                    {% endif %}
                                    {% if "OP_IM" not in user_ops_list %}
                                    <option value="OP_IM">Inventory Management</option>
                                    {% endif %}
                                    {% if "OP_SO" not in user_ops_list %}
                                    <option value="OP_SO">Products and Services</option>
                                    {% endif %}
                                    {% if "OP_CX" not in user_ops_list %}
                                    <option value="OP_CX">Customer Experience</option>
                                    {% endif %}
                                    {% if "OP_NO" not in user_ops_list %}
                                    <option value="OP_NO">Network Optimization</option>
                                    {% endif %}
                                    {% if "OP_OT" not in user_ops_list %}
                                    <option value="OP_OT">Other Topics</option>
                                    {% endif %}
                                </select></td>
                                <td style="display: block; margin-left: 0; margin-right: 0;">
                                <button type="button" onclick="move1()">&gt;&gt;</button><br><br>
                                <button type="button" onclick="move2()">&lt;&lt;</button>
                                </td></tr></table>
                            </th>
                            <td>
                                <select id="select2" size="10" style="width: 25.0em">
                                    {% if "OP_TM" in user_ops_list %}
                                    <option value="OP_TM">Network Planning and Topology Management</option>
                                    {% endif %}
                                    {% if "OP_NOC" in user_ops_list %}
                                    <option value="OP_NOC">Network Operations Center</option>
                                    {% endif %}
                                    {% if "OP_NA" in user_ops_list %}
                                    <option value="OP_NA">Service Operations Center</option>
                                    {% endif %}
                                    {% if "OP_FO" in user_ops_list %}
                                    <option value="OP_FO">Field Operations</option>
                                    {% endif %}
                                    {% if "OP_IM" in user_ops_list %}
                                    <option value="OP_IM">Inventory Management</option>
                                    {% endif %}
                                    {% if "OP_SO" in user_ops_list %}
                                    <option value="OP_SO">Products and Services</option>
                                    {% endif %}
                                    {% if "OP_CX" in user_ops_list %}
                                    <option value="OP_CX">Customer Experience</option>
                                    {% endif %}
                                    {% if "OP_NO" in user_ops_list %}
                                    <option value="OP_NO">Network Optimization</option>
                                    {% endif %}
                                    {% if "OP_OT" in user_ops_list %}
                                    <option value="OP_OT">Other Topics</option>
                                    {% endif %}                                    
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th></th><td style="vertical-align: top; text-align: left;">
                                        <input type="button" id="saveBtn" name="saveBtn" value="Save">
                                    </td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
            {% if user_table %}
                {{ user_table | safe }}
            {% endif %}
            {% if show_table %}
            <div style="font-size:14px;font-family:verdana;color:#1f56e0;text-align:left">  
                <input type="text" id="search_email" name="search_email" onkeyup="searchFunction()" placeholder="Search for email..">
                <table id="userTable" style="font-size: 0.85em; width:100%">
                    <thead class="table-primary">
                        <tr>
                            <th>Edit User</th>
                            <th>User Id/Email</th>
                            <th>Role</th>
                            <th>Name</th>
                            <th>Creation Time</th>
                            <th>Last Login Time</th>
                        </tr>
                    </thead>
                    <tbody>      
                    {% for row in user_data %}
                        <tr>
                            <td><input type="radio" name="selected_user_id" value="{{ row.user_id }}" id="selected_user_id"></td>
                            <td>{{ row.user_id }}</td>
                            <td>{{ row.role }}</td>
                            <td>{{ row.fname }}&nbsp;{{ row.lname }}</td>
                            <td>{{ row.creation_time }}</td>
                            <td>{{ row.last_login_time }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <input name="edituserBtn" type="button" value="Continue" id="edituserBtn">                
            </div>                
            {% endif %}

            </div>
        </form>
    </div>
</main>
{% endblock %}

{% block scripts %}
    <!-- Include DataTables -->
    <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script>
        // default check first row
        window.onload = function() {
            if (document.getElementById("selected_user_id") != null) {
                let boxes = $('input[name="selected_user_id"]');
                boxes[0].checked = true;
                console.log("first check box is checked by default: " + boxes[0].checked);                
            }    
        }
        $(document).ready(function() {
            $('.display').DataTable({
                "scrollY": "760px",
                "scrollCollapse": true,
                "paging": true,
                "pageLength": 5,
                lengthMenu: [5, 10, 20],                
                searching: true 
            });

            // Toggle sidebar
            $('.sidebar').hover(
                function() {
                    $(this).addClass('open');
                },
                function() {
                    $(this).removeClass('open');
                }
            );
        });

        function move1() {
            const select_1 = document.getElementById("select1");
            const select_2 = document.getElementById("select2");
            
            if(select_1.selectedIndex !== -1) {
                const selected_option = select_1.options[select_1.selectedIndex];
                
                let new_option = document.createElement('option');
                new_option.value = selected_option.value
                new_option.innerHTML = selected_option.innerHTML;
                select_2.appendChild(new_option);
                
                select_1.options.remove(select_1.selectedIndex)
            }

        }

        function move2(){
            const select_1 = document.getElementById("select1");
            const select_2 = document.getElementById("select2");
            
            if(select_2.selectedIndex !== -1) {
                const selected_option = select_2.options[select_2.selectedIndex];
                
                let new_option = document.createElement('option');
                new_option.value = selected_option.value
                new_option.innerHTML = selected_option.innerHTML;
                select_1.appendChild(new_option);
                
                select_2.options.remove(select_2.selectedIndex)
            }
            
        }

        $('#edituserBtn').on('click', function () {
            // Update the hidden input with user selection
            var ele = document.getElementsByName('selected_user_id');
            var selectedUserId = "";
            for (i = 0; i < ele.length; i++) {
                if (ele[i].checked)
                    selectedUserId = ele[i].value;
            }         
            // Update the hidden input with serialized user responses
            $('#user_id').value = selectedUserId;         
            window.location = "/edituser?access_token=" + $('#access_token').val()+ "&session_id=" + $('#session_id').val() + "&user_id=" + selectedUserId;
            console.log('Selected Filters:', {
                access_token: $('#access_token').val(),
                session_id: $('#session_id').val(),
                user_id: selectedUserId
            }); 
        });

        $('#saveBtn').on('click', function () {
            // Update the hidden input with user selection
            const select_2 = document.getElementById('select2');
            var numOfOptions = select_2.options.length;
            var n=0;
            operations = "operations,";
            for (n=0; n<numOfOptions; n++) {
                operations+= select_2.options[n].value + ",";
            }
            if (document.getElementById('hashed_password').value == "" || document.getElementById('confirm_hashed_password').value == "") {
                document.getElementById('hashed_password').value = "Hello123"
                document.getElementById('confirm_hashed_password').value = "Hello123"
            }

            if (document.getElementById('lname').value == "") {
                document.getElementById('lname').value = document.getElementById('fname').value
            }

            document.getElementById('user_ops_map').value = operations;
            $('#theForm').submit();
        });          

        function searchFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("search_email");
            filter = input.value.toUpperCase();
            table = document.getElementById("userTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
                }
            }
        }
    </script>
    <style>
        .filter-section select {
            font-size: 0.85rem;
            padding: 0.2rem 0.5rem;
        }
        input[type=button], input[type=submit], input[type=reset] {
            background-color: #04AA6D;
            border: none;
            color: white;
            padding: 16px 32px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
        } 
        input[type=text], input[type=password] {
            width: 400px;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
        
        #search_email {
            background-image: url('/static/images/searchicon.jpg'); /* Add a search icon to input */
            background-position: 2px 2px; /* Position the search icon */
            background-repeat: no-repeat; /* Do not repeat the icon image */
            width: 100%; /* Full-width */
            font-size: 16px; /* Increase font-size */
            padding: 12px 20px 12px 40px; /* Add some padding */
            border: 1px solid #ddd; /* Add a grey border */
            margin-bottom: 12px; /* Add some space below the input */
        }
    </style>
{% endblock %}