{% block header %}
<header class="top-bar">
    <div class="logo">  <img src="/static/images/logo.svg" alt="Nokia" width="111" height="25">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/static/images/AOMMAT.png" alt="AOMM" width="385" height="43"></div>
    <div class="top-bar-heading"><a href="https://www.tmforum.org/resources/guidebook/gb1042a-autonomous-operations-maturity-model-aomm-v1-3-0/">Reference: TM Forum GB1042A v1.3 AOMM Guidelines</a></div>
    <!--
    <nav>
        <ul>
            <li class='fa fa-arrow-left' style='font-size:24px;color:white'><a href="/index">&nbsp;&nbsp;</a></li>
            <li><a href="javascript:history.back()">FAQ</a></li>
        </ul>
    </nav>-->
    <div class="icons">
        <i class="fas fa-sign-out-alt"></i>
        <i class="fas fa-user"></i>
    </div>
</header>
{% endblock %}