{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
<main class="main-content">
    <div class="container mt-4">
        <form class="container mt-4" action="/password?access_token={{ access_token }}" method="post" id="theForm">        
            <input type="hidden" name="access_token" id="access_token" value="{{ access_token }}">
            <input type="hidden" name="session_id" id="session_id" value="{{ session_id }}">
            <input type="hidden" name="user_email" id="user_email" value="{{ user_id }}">
            <input type="hidden" name="email" id="email" value="{{ user_id }}">
            <input type="hidden" name="user_id" id="user_id" value="{{ user_id }}">
            <h2 class="text-primary">Change Passord</h2>
            
            <br/><br/>
            <!-- Filter Section -->
            <div class="filter-section my-4 d-flex justify-content-center align-items-center gap-3">
                <div style="font-size:14px;font-family:verdana;color:#e0391f;text-align:left">
                    <!-- Display error message if present -->
                    {% if error_message %}
                        Error: {{ error_message }}
                    {% endif %}                
                </div>
                <div style="font-size:14px;font-family:verdana;color:#15e05cfb;text-align:left">
                <!-- Display success message if present -->
                    {% if success_message %}
                        {{ success_message }}
                    {% endif %}
                </div>    
            </div>
            <br/><br/>
            <!-- Table Section -->
            <div style="font-size:14px;font-family:verdana;color:#1f56e0;text-align:left">  
                <table id="change_password" style="font-size: 0.85em; width:100%">
                    <tbody class="table-primary">
                        <tr>
                            <th>User Id : </th><td style="vertical-align: top; text-align: left;"><input type="text" name="disabled_user_id" id="disabled_user_id" value="{{ user_id }}" disabled></td>
                        </tr>
                        <tr>
                            <th>Old Password : </th><td style="vertical-align: top; text-align: left;"><input type="password" name="password_string" id="password_string" value=""></td>
                        </tr>
                        <tr>
                            <th>New Password : </th><td style="vertical-align: top; text-align: left;"><input type="password" name="new_password_string" id="new_password_string" value=""></td>
                        </tr>
                        <tr>
                            <th>Confirm New Password : </th><td style="vertical-align: top; text-align: left;"><input type="password" name="confirm_new_password_string" id="confirm_new_password_string" value=""></td>
                        </tr>                                                                
                        <tr>
                            <th></th><td style="vertical-align: top; text-align: left;">
                                        <input type="submit" id="form-submit" value="Save">
                                    </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</main>
{% endblock %}

{% block scripts %}
    <!-- Include DataTables -->
    <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            // Toggle sidebar
            $('.sidebar').hover(
                function() {
                    $(this).addClass('open');
                },
                function() {
                    $(this).removeClass('open');
                }
            );
        });
    </script>
    <style>
        .filter-section select {
            font-size: 0.85rem;
            padding: 0.2rem 0.5rem;
        }
        input[type=button], input[type=submit], input[type=reset] {
            background-color: #04AA6D;
            border: none;
            color: white;
            padding: 16px 32px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
        } 
        input[type=text], input[type=password] {
            width: 400px;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }               
    </style>
{% endblock %}